/* Header */
.header {
  position: relative;
  background-color: white; /* White background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

/* Navigation */
.nav {
    display: flex;
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-item{
    padding: 5px;
}
.nav-link {
  text-decoration: none;
  color: #333; /* Dark grey text color */
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #ff7f50; /* Accent color on hover */
}

/* Search Bar */
.search-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
